body{
    min-height: 100%;
    background: rgb(45,45,45);
    background: -moz-linear-gradient(331deg, rgba(45,45,45,1) 58%, rgba(0,0,0,1) 80%);
    background: -webkit-linear-gradient(331deg, rgba(45,45,45,1) 58%, rgba(0,0,0,1) 80%);
    background: linear-gradient(331deg, rgba(45,45,45,1) 58%, rgba(0,0,0,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d2d2d",endColorstr="#000000",GradientType=1);
}

#root{
    min-height: 640px
}

.sectionHeader{
    position: relative;
    translate: 0 -1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(30 136 229 / var(--tw-bg-opacity));
    height: 1vh;
}


.sectionHeader::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 25px;
    background-size: 25px 100%;
    background-image: linear-gradient(135deg, rgb(30 136 229 / var(--tw-bg-opacity)) 25%, transparent 25%), linear-gradient(225deg, rgb(30 136 229 / var(--tw-bg-opacity)) 25%, transparent 25%);
    background-position: 0 0;
  }

  .glassMorphNavbar{
    backdrop-filter: blur(3px) saturate(188%);
    -webkit-backdrop-filter: blur(3px) saturate(188%);
    background-color: rgba(49, 49, 49, 0.58);
  }